<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Python Web Server</title>
    <!-- <link rel="shortcut icon" href="../static/snoopy.ico" type="image/x-icon"> -->
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='snoopy.ico') }}" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>This webserver is running in my Python Flask Server</h1>
    <p></p>
    <script src="static/script.js"></script>
</body>
</html>
